<!doctype html>{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&family=Poppins:wght@200;300;400;600;800&family=Roboto&family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">
    
    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Argon CSS -->
    <link type="text/css" href="{% static 'portfolioCSS/css/argon-design-system.min.css' %}" rel="stylesheet">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- Personal  Styling -->
    <link rel="stylesheet" href="{% static 'portfolioCSS/css/style.css' %}">
    
    <title>{{  information.firstName }} {{ information.lastName }} </title>
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->

  </head>
  <body>
<!-- ------------- HEADER -------------------->
    <header class="header" id="header">
        <nav class="nav container navbar-expand-lg">
            <a href="#" class="nav__logo navbar-brand ml-3">
                <img src="favicon.ico" alt="">
                {{ user.username }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="#home" class="nav__link">
                            <i class="uil uil-estate nav__icon"></i>Home
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#about" class="nav__link">
                            <i class="uil uil-user nav__icon"></i>About
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#skills" class="nav__link">
                            <i class="uil uil-file nav__icon"></i>Skills
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#qualification" class="nav__link">
                            <i class="uil uil-diary nav__icon"></i>Qualification
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#portfolio" class="nav__link">
                            <i class="uil uil-scenery nav__icon"></i>Portfolio
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#contact" class="nav__link">
                            <i class="uil uil-message nav__icon"></i>Contact Us
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>

            <div class="nav__btns">
                <!-- THEME CHANGING BUTTONS -->
                <i data-mode= "dark" class="uil uil-moon moon-change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

<!-- ============== MAIN =============== -->
    <main class="main">

    <!-- ------------- HOME -------------------->
        <section class="home section" id="home">
            <div class="home__container container grid">

                <div class="home__content grid">
                    <div class="home__social">
                        <a href="{{ information.linkedin }}" target="_blank" class="home__social-icon" id="myLinkedIn">
                            <i class="uil uil-linkedin-alt"></i>
                        </a>

                        <a href="{{ information.instagram }}" target="_blank" class="home__social-icon" id="myInstagram">
                            <i class="uil uil-instagram"></i>
                        </a>

                        <a href="{{ information.github }}" target="_blank" class="home__social-icon" id="myGithub">
                            <i class="uil uil-github-alt"></i>
                        </a>

                        <a href="{{ information.facebook }}" target="_blank" class="home__social-icon" id="myFacebook">
                            <i class="uil uil-facebook-f"></i>
                        </a>

                        <a href="{{ information.other }}" target="_blank" class="home__social-icon" id="myTwitter">
                            <i class="uil uil-twitter-alt"></i>
                        </a>
                    </div>
                </div>

                <div class="home__data">
                    <small class="home__welcome s-color"> Welcome to my Portfolio Website! </small>
                    <h1 class="home__title"> Hey I'm </h1>
                    <div id="typewriter"></div>
                    <h3 class="home__subtitle" id="home-bio">{{ information.bio }} </h3>
                    <a href="#contact" class="button button--flex">
                        Contact Me <i class="uil uil-message button__icon"></i>
                    </a>
                </div>

            </div>

            <div class="home__scroll">
                <a href="#about" class="home__scroll-button button--flex">
                    <i class="uil uil-mouse-alt home__scroll-mouse"></i>
                    <!-- <span class="home__scroll-name"> Scroll Down </span>
                    <i class="uil uil-arrow-down home__scroll-arrow"></i> -->
                </a>
            </div>
        </section>

    <!-- ------------- ABOUT ME -------------------->
        <section class="about section" id="about">
            <h2 class="section__title">About</h2>
            <span class="section__subtitle"> My Introduction </span>

            <div class="about__container container grid">
                <img src="{% static 'portfolioCSS/assets/img/ceremony.JPG' %}" alt="my achievement photo" class="about__img">

                <div class="about__data">
                    <p class="about__description" id="home-about"> {{ information.about }}</p>
                    
                </div>

                <!-- <div class="about__info">
                    <div>
                        <span class="about__info-title"> 02+ </span>
                        <span class="about__info-name"> Years <br> Experience </span>
                    </div>

                    <div>
                        <span class="about__info-title"> 10+ </span>
                        <span class="about__info-name"> Completed <br> Projects </span>
                    </div>

                    <div>
                        <span class="about__info-title"> 02+ </span>
                        <span class="about__info-name"> Companies <br> Worked </span>
                    </div>
                </div> -->

                <div class="about__buttons">
                    <a href="{{ information.CV }}" download="my_CV" target="_blank" class="button button--flex">
                        Download CV <i class="uil uil-download-alt button__icon"></i>
                    </a>
                </div>
            </div>
        </section>

    <!-- ------------- Skills-------------------->
        <section class="skills section" id="skills">
            <h2 class="section__title"> Skillset </h2>
            <span class="section__subtitle"> My skillsets </span>

            <div class="skills__container container grid">
                <div class="row" id="skillset_container">
                    {% for item in skillsets %}
                    <!-- Skill {{ item.id }} -->
                    <div class="skills__container-card">
                        <div class="card_skill shadow2">
                            <div class="imgBx">
                                <img src="{{ item.imagelink }}" alt=" {{ item.title }} logo">
                            </div>
                            <div class="contentBx">
                                <h2> {{ item.title }} </h2>
                            </div>
                        </div>
                    </div>
                    {% endfor %}                    
                </div>
            </div>
        </section>
    <!-- ------------- QUALIFICATIONS (Education and Experience) -------------------->
        <section class="qualification section" id="qualification">
            <h2 class="section__title"> Qualification </h2>
            <span class="section__subtitle"> My persoanl Journey </span>

            <div class="qualification__container container">

                <div class="row mt-lg-0">
                    <!-- Education -->
                    <div class="col-lg-6 col-sm-10 col-md-10 mt-2 qualification__content" id="education">
                        <div class="qualification__button button--flex">
                            <i class="uil uil-graduation-cap qualification__icon"></i> Education
                        </div>

                        <div id="education_timeline">
                            <div class="container py-2">

                                {% for eduItem in education %}
                                <!-- Timeline item {{ eduItem.id }} -->
                                <div class="row">
                                    <!-- Timeline design -->
                                    <div class="col-auto text-center flex-column d-sm-flex">
                                        <div class="row h-50 qualification__journey">
                                            <div class="col">
                                                <span class="qualification__line"></span>
                                            </div>
                                            <div class="col">&nbsp;</div>
                                        </div>

                                        <h5>
                                            <span class="badge qualification__calendar">
                                                <i class="uil uil-calendar-alt qualification__calendar-icon"></i>
                                                {{ eduItem.the_year }}
                                            </span>
                                        </h5>

                                        <div class="row h-50 qualification__journey">
                                            <div class="col">
                                                <span class="qualification__line"></span>
                                            </div>
                                            <div class="col">&nbsp;</div>
                                        </div>
                                    </div>
                                    <!-- Timeline content Events -->
                                    <div class="col py-2">
                                        <div class="card education-card transparent_card mirror-face shadow2">
                                            <div class="card-body">
                                                <div class="task">
                                                    <div class="abstract">
                                                        <h3 class="qualification__title"> {{ eduItem.title }} </h3>
                                                        <p class="qualification__subtitle"> {{ eduItem.institute }} </p>
                                                    </div>
                                                    <div class="details">
                                                        <p class="qualification__subtitle"> {{ eduItem.description }} </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                

                                 <!-- Timeline item end -->
                                 <div class="row">
                                    <!-- Timeline design -->
                                    <div class="col-auto text-center flex-column d-sm-flex">
                                        <div class="row h-50 qualification__journey">
                                            <div class="col">
                                                <span class="qualification__start">
                                                    <i class="uil uil-rocket qualification__start-icon"></i>
                                                </span>
                                            </div>
                                            <div class="col">&nbsp;</div>
                                        </div>
                                    </div>
                                    <!-- Timeline content Events -->
                                    <div class="col py-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Experience -->
                    <div class="col-lg-6 col-sm-10 col-md-10 mt-2 qualification__content" id="experience">
                        <div class="qualification__button button--flex">
                            <i class="uil uil-briefcase-alt qualification__icon"></i> Experience
                        </div>

                        <div id="expreience_timeline">
                            <div class="container py-2">
                                
                                {% for expItem in experience %}
                                 <!-- Timeline item {{ expItem.id }} -->
                                 <div class="row">
                                    <!-- Timeline design -->
                                    <div class="col-auto text-center flex-column d-sm-flex">
                                        <div class="row h-50 qualification__journey">
                                            <div class="col">
                                                <span class="qualification__line"></span>
                                            </div>
                                            <div class="col">&nbsp;</div>
                                        </div>

                                        <h5>
                                            <span class="badge qualification__calendar">
                                                <i class="uil uil-calendar-alt qualification__calendar-icon"></i>
                                                {{ expItem.the_year }}
                                            </span>
                                        </h5>

                                        <div class="row h-50 qualification__journey">
                                            <div class="col">
                                                <span class="qualification__line"></span>
                                            </div>
                                            <div class="col">&nbsp;</div>
                                        </div>
                                    </div>
                                    <!-- Timeline content Events -->
                                    <div class="col py-2">
                                        <div class="card education-card transparent_card mirror-face shadow2">
                                            <div class="card-body">
                                                <div class="task">
                                                    <div class="abstract">
                                                        <h3 class="qualification__title"> {{ expItem.title }} </h3>
                                                        <p class="qualification__subtitle"> {{ expItem.institute }} </p>
                                                    </div>
                                                    <div class="details">
                                                        <p class="qualification__subtitle">{{ expItem.description }} </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                <!-- Timeline item end -->
                                <div class="row">
                                    <!-- Timeline design -->
                                    <div class="col-auto text-center flex-column d-sm-flex">
                                        <div class="row h-50 qualification__journey">
                                            <div class="col">
                                                <span class="qualification__start">
                                                    <i class="uil uil-rocket qualification__start-icon"></i>
                                                </span>
                                            </div>
                                            <div class="col">&nbsp;</div>
                                        </div>
                                    </div>
                                    <!-- Timeline content Events -->
                                    <div class="col py-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!-- ------------- PORTFOLIO -------------------->
        <section class="portfolio section" id="portfolio">
            <h2 class="section__title">Portfolio</h2>
            <span class="section__subtitle"> My most recent works </span>

            <div class="blog-slider">
                <div class="blog-slider__wrp swiper-wrapper">

                    {% for projItem in projects %}
                    <!-- For portfolio item {{ projItem.id }} -->
                    <div class="blog-slider__item swiper-slide">
                        <div class="blog-slider__img">
                            <img src="{{ projItem.imagelink }}" alt="Portfolio item">
                        </div>

                        <div class="blog-slider__content">
                            <span class="blog-slider__code"> December 2020</span>
                            <div class="blog-slider__title"> {{ projItem.title }}</div>
                            <div class="blog-slider__text"> {{ projItem.description }} </div>
                            <a href="{{ projItem.demo }}" target="_blank" class="button blog-slider__button button--flex"> 
                                Demo
                                <i class="uil uil-play button__icon"></i>
                            </a>
                            <a href="{{ projItem.github_project }}" target="_blank" class="button blog-slider__button button--flex"> 
                                Github
                                <i class="uil uil-play button__icon"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    
                    
                    <div class="blog-slider__pagination"></div>
                </div>
            </div>

        </section>

    <!-- ------------- CONTACT US -------------------->
        <section class="contact section" id="contact">
            <h2 class="section__title"> Contact Me </h2>
            <span class="section__subtitle"> Get in touch</span>

            <div class="row mt-lg-6 justify-content-center contact_mail">
                <!-- Contact information -->
                <div class="col-lg-6 mx-lg-0 mx-2 contact__container container">
                    <div class="contact__information">
                        <i class="uil uil-phone contact__icon"></i>

                        <div>
                            <h3 class="contact__title">Call Me</h3>
                            <span class="contact__subtitle">{{ information.phone  }}</span>
                        </div>
                    </div>

                    <div class="contact__information">
                        <i class="uil uil-envelope contact__icon"></i>

                        <div>
                            <h3 class="contact__title">E-mail</h3>
                            <span class="contact__subtitle">{{ information.email }}</span>
                        </div>
                    </div>

                    <div class="contact__information">
                        <i class="uil uil-location-pin-alt contact__icon"></i>
                        <div>
                            <h3 class="contact__title">Address</h3>
                            <span class="contact__subtitle"> {{ information.address }}</span>
                        </div>
                    </div>
                </div>

                <!-- FORM -->
                <div class="col-lg-6 pl-lg-4 mt-lg-0 mt-6 contact-form" id="message-me">
                    <h2 class="contact__title"> Interested to work together? - <span> Let's talk </span></h2>
                    {% if form %}
                    {% csrf_token %}

                    <div class="alert alert-primary" role="alert">
                        {{ form_message}}
                    </div>
                    {% else %}
                    <form method="POST" class="cf">
                        {% csrf_token %}
                        <!-- <input type="hidden" name="csrfmiddlewaretoken" value="ExZss3PCHIZ6bYAKK48Pry7gtcWgUE6tTaOrEIAkj7nTGsF1HBPEvFQlUI1UOAK7"> -->
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="name" class="form-control form__color mb-30 cf" required id="id_name" placeholder="Your Name">
                            </div> 
                            <div class="col-lg-6">
                                <input type="email" name="email" class="form-control form__color mb-30 cf" required id="id_email" placeholder="Your Email">
                            </div>
                            <div class="col-12">
                                <input type="text" name="subject" class="form-control form__color mb-30 cf" required id="is_subject" placeholder="Subject">
                            </div>
                            <div class="col-12">
                                <textarea name="message" class="form-control form__color mb-30 cf" cols="30" rows="5" required id="id_message" placeholder="Your Message"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="button button--flex send-message form_button" id="contact_button">
                                    Send Message
                                    <i class="uil uil-message button__icon"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>

    <!-- <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="fom-actions">
            <button type="submit"> SEND </button>
        </div>
    </form> -->

<!-- ------------- FOOTER -------------------->
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">

                <div>
                    <h1 class="footer__title"> {{ user.username }} </h1>
                    <!-- <span class="footer__subtitle"> Electrical Engineer and Developer</span> -->
                </div>

                <ul class="footer__links">
                    <li>
                        <a href="#about" class="footer__link"> About Me</a>
                    </li>

                    <li>
                        <a href="#portfolio" class="footer__link"> My Portfolio</a>
                    </li>

                    <li>
                        <a href="#contact" class="footer__link"> Contact Me</a>
                    </li>
                </ul>

                <div class="footer__socials">
                    <a href="{{ information.linkedin }}" target="_blank" class="footer__social" id="myLinkedIn">
                        <i class="uil uil-linkedin-alt"></i>
                    </a>

                    <a href="{{ information.instagram }}" target="_blank" class="footer__social" id="myInstagram">
                        <i class="uil uil-instagram"></i>
                    </a>

                    <a href="{{ information.github }}" target="_blank" class="footer__social" id="myGithub">
                        <i class="uil uil-github-alt"></i>
                    </a>

                    <a href="{{ information.facebook }}" target="_blank" class="footer__social" id="myFacebook">
                        <i class="uil uil-facebook-f"></i>
                    </a>

                    <a href="{{ information.other }}" target="_blank" class="footer__social" id="myTwitter">
                        <i class="uil uil-twitter-alt"></i>
                    </a>
                </div>
            </div>

            <p class="footer__copy">&#169; BJ. All rights reserved</p>
        </div>
    </footer>
  
<input type="hidden" id="myVar" name="variable" value="{{ username }}">
<!-- ------------- SCROLL TOP -------------------->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>



    <!-- Core -->
    <script src="{% static 'portfolioCSS/js/core/jquery.min.js' %}"></script>
    <script src="{% static 'portfolioCSS/js/core/popper.min.js' %}"></script>
    <script src="{% static 'portfolioCSS/js/core/bootstrap.min.js' %}"></script>

    <!-- Argon JS -->
    <script src="{% static 'portfolioCSS/js/argon-design-system.js' %}"></script>

    <!--  Typewriter CSS Effect -->
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Self Script -->
    <script src="{% static 'portfolioCSS/js/script.js' %}"></script>
    <script src="{% static 'portfolioCSS/js/portfolio_script.js' %}"></script>
    <!-- <script>
        document.getElementById('contact_button').onclick = alert("Your mail has been sent! Thank You");
    </script> -->
  </body>
</html>